<!DOCTYPE html>
<html lang="en">

<head>
    <title>Streams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- <app-adminheader></app-adminheader> -->

    <form #Stream="ngForm" >
    <div class="container">
        <h2>Streams</h2>
        <hr>
        <div class="form-group">
            <!-- Hidden field -->
            <label id="sid" style="display: none;"></label>
            <label for="stream">Stream Name: </label>
            <input type="text"  class="form-control" required #sname="ngModel" ngModel id="sname"
            [class.MyError]="sname.invalid && sname.touched" placeholder="Enter stream" name="stream">
            <small [class.MyDNone]="sname.valid || sname.untouched" class="text-danger">Please enter valid Stream</small>
        </div>
        <button type="submit" class="btn btn-default" id="btnAdd"
        [disabled]="sname.invalid || sname.invalid" (click)="AddorUpdateStream(sname)">ADD</button>
        <hr>

   

        <h2>Streams List</h2>
        <table datatable class="table table-hover">
            <thead>
                <tr>
                    <th>SNo.</th>
                    <th>Stream Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stream of streams; index as i">
                    <td>{{i+1}}</td>
                    <td>{{stream.sname}}</td>
                    <td class="ml-2" style="margin-left:2px">
                        <!-- <span class="btn-group"> -->
                            <button class="btn btn-outline btn-primary mr-5"
                                (click)="GetUpdateStream(stream.sid)">Edit</button>
                            <button class="btn btn-outline btn-danger ml-5 "
                                (click)="DeleteStream(stream.sid)">Delete</button>
                        <!-- </span> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</form>


</body>

</html>