<!DOCTYPE html>
<html lang="en">

<head>
    <title>Streams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <!-- Container -->
    <form #Department="ngForm">
        <div class="container">
            <h2>Departments</h2>
            <hr>
            <div class="form-group">
                <label for="Stream">Stream</label>
                <select #stream class="form-control">
                    <option *ngFor="let stream of streams" [value]="stream.sid">
                        {{stream.sname}}
                    </option>
                </select>
            </div>


            <div class="form-group">
                <!-- Hidden field -->
                <label id="did" style="display: none;"></label>
                <label for="department">Department Name:</label>
                <input type="text" class="form-control" required #dname="ngModel" ngModel id="dname"
                    [class.MyError]="dname.invalid && dname.touched" placeholder="Enter Department" name="department">
                <small [class.MyDNone]="dname.valid || dname.untouched" class="text-danger">Please enter valid
                    Department name</small>
            </div>
            <button type="submit" class="btn btn-default" id="btnAdd" [disabled]="dname.invalid || dname.invalid"
                (click)="AddorUpdateDept(dname,stream)">ADD</button>
            <hr>

            <table datatable class="table table-hover">
                <thead>
                    <tr>
                        <th>SNo.</th>
                        <th>Department Name</th>
                        <th>Stream Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dept of depts;index as i">
                        <td>{{i+1}}
                        <td>{{dept.dname}}</td>
                        <td>{{dept.sname}}</td>
                        <td>
                            <!-- <span class="btn-group"> -->
                            <button class="btn btn-outline btn-primary mr-5"
                                (click)="GetUpdateDept(dept.did)">Edit</button>
                            <button class="btn btn-outline btn-danger ml-5 "
                                (click)="DeleteDept(dept.did)">Delete</button>
                            <!-- </span> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>

</body>

</html>