<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
<app-applicantheader></app-applicantheader>
  

<div class="container">
        <h2>Apply For Admission</h2><hr>
    
        
            <div class="form-group">
              <label for="stream">Please select Stream:</label>
              <select class="form-control" id="stream">
                  <option>Select Stream</option>
              </select>
            </div> 
            <div class="form-group">
                <label for="department">Please select department:</label>
                <select class="form-control" id="department">
                    <option>Select department</option>
                </select>
              </div>
              <div class="form-group">
                <label for="course">Please select Course:</label>
                <select class="form-control" id="course">
                    <option>Select Course</option>
                </select>
              </div>
            <hr>
            <button type="submit" class="btn btn-default">Apply</button>
                 
        
      </div>
    

</body>
</html>
