<h2>Implementing GET functionality</h2>
<div class="container">
	<table class="table table-bordered">
		<tr>
			<th>FName</th>
			<th>FContact</th>
			<th>Name</th>
			<th>Email</th>
			<th>Password</th>
			<th>Contact</th>
			<th>Address</th>
			<th>Gender</th>
			<th>DOB</th>
		</tr>
		<tr>
			<td>{{applicant['appfname']}}</td>
			<td>df</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>

	<button type="submit" (click)="getData()">GET</button>
</div>

<h2>Implementing POST functionality</h2>
<div>
	<form action="#">
		Stream Name: <input type="text" #name>
		<br> <br>
		<button value="post" name="post" type="submit" (click)="postData(name)">POST</button>
	</form>
</div>