<!DOCTYPE html>
<html lang="en">

<head>
    <title>Streams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <app-adminheader></app-adminheader>

    <!-- Container -->

    <div class="container">
        <h2>Courses</h2>
        <hr>
        <div class="form-group">
            <label for="Department">Department</label>
            <select class="form-control">
                <option>Select Department</option>
            </select>
        </div>


        <div class="form-group">
            <label for="department">Course Name:</label>
            <input type="text" class="form-control" id="Course" placeholder="Enter Course" name="Course">
        </div>
        <button type="submit" class="btn btn-default">Add</button>
        <hr>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>




</body>

</html>