<!DOCTYPE html>
<html lang="en">

<head>
    <title>Streams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- Container -->

    <div class="container">
        <h2>Courses</h2>
        <hr>
        <div class="form-group">
            <label for="Department">Department</label>
            <select #dept class="form-control">
                <option *ngFor="let dept of depts" [value]="dept.did">
                    {{dept.dname}}
                </option>
            </select>
        </div>


        <div class="form-group">
            <label for="department">Course Name:</label>
            <input type="text" class="form-control" #cname id="cname" placeholder="Enter Course" name="Course">
        </div>
        <button type="submit" id="btnAdd" class="btn btn-default" (click)="AddorUpdateCourse(cname,dept)">ADD</button>
        <hr>


        <table datatable class="table table-hover">
            <thead>
                <tr>
                    <th>SNo.</th>
                    <th>Department Name</th>
                    <th>Stream Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses;index as i">
                    <td>{{i+1}}
                    <td>{{course.cname}}</td>
                    <td>{{course.dname}}</td>
                    <td>
                        <!-- <span class="btn-group"> -->
                        <button class="btn btn-outline btn-primary mr-5"
                            (click)="GetUpdateCourse(course.cid)">Edit</button>
                        <button class="btn btn-outline btn-danger ml-5 "
                            (click)="DeleteCourse(course.cid)">Delete</button>
                        <!-- </span> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>




</body>

</html>